h1 {
        color: purple;
}

div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #9ACD32;
        border: 5px solid purple;
        padding: 20px;
}

body {
        background-color: #556B2F;
}