body{
        background-color:#9ACD32;
}

.jumbotron {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #556B2F;
        /* padding: 20px; */
}

.search-bar, .shop-name{
        margin-top: 60px;
}

.logo{
        margin-top: 30px;
}

#container1{
        margin-top: -32px;
}

.bordure{
        border-right: 1px solid black;
}

.gauche, .droite{
        position: relative;
        min-height: 600px; 
        padding-top: 30px;
}

.gauche{
        border-right: 2px solid black;
}

#gifts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
}

.gift {
        border: 1px solid black;
        padding: 10px;
}

.gift img {
        width: 100%;
        height: auto;
}

#liste_panier{
        margin-top: 50px;
}
    