body {
        background-color:#556B2F;
}
nav {
        background-color: #9ACD32; /* Fond vert pastel */
        padding: 10px;
        margin-bottom: 20px;
}

nav button, input {
        background-color: #ffffff; /* Fond blanc pour les boutons */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
}

nav div {
        display: flex;
        justify-content: space-between; /* Pour espacer les éléments uniformément */
}

.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
}

.section {
        background-color: #9ACD32; /* Fond blanc pour les boutons */       
        border: 1px solid #ccc;
        padding: 10px;
        display: grid; /* Ajout */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajout */
        grid-gap: 20px; /* Ajout */
}

.section h3, .section p {
        margin: 0; /* Ajout pour supprimer les marges par défaut */
}

.grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px; 
}

.gift .client {
        border: 1px solid #ccc;
        padding: 10px;
}

.expanded {
        grid-column: 1 / span 2;
}
    
.hidden {
        display: none;
}

#formContainer {
        display: grid;
        grid-template-columns: auto 1fr; /* Première colonne de largeur automatique, deuxième colonne qui prend le reste de l'espace */
        grid-gap: 10px; /* Espacement entre les lignes */
}

.form-row {
        display: grid;
        grid-template-columns: auto 1fr; /* Deux colonnes pour chaque ligne */
        align-items: center; /* Aligner les éléments verticalement au centre */
}

.form-row label {
        margin-right: 10px; /* Marge à droite pour séparer le label de l'input */
}

.form-row input {
        width: 100%; /* L'input occupe tout l'espace disponible */
}

.bouttonEmoji {
        background: none;
        border: none; 
        cursor: pointer;
}
